body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    gap: 20px; 
}

.container {
    display: flex;
    gap: 20px;
}


.btn {
    position: relative; 
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}


.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px); 
    
    background-color: #2c3e50;
    color: #fff;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;

    
    opacity: 0;            
    visibility: hidden;    
    transition: opacity 0.3s ease, transform 0.3s ease; 
}


.tooltip::before {
    content: "";           
    position: absolute;
    bottom: 100%;      
    left: 50%;
    transform: translateX(-50%);
        border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent; 
}


.btn:hover .tooltip {
    opacity: 1;      
    visibility: visible;  
    transform: translateX(-50%) translateY(5px); 
}


.info { background-color: #17a2b8; }
.buy { background-color: #28a745; }
.sale { background-color: #dc3545; }
